## DADOS EM ARQUIVO CSV

In [2]:
import pandas as pd
import numpy as np

In [3]:
df =  pd.read_csv('C:/Users/mferr/Downloads/Curso Python/Dados/Dados.csv', sep=';', encoding = "ISO-8859-1")
df.shape
df.head()
df.tail()
df.dtypes

Data         object
Cliente      object
Valor       float64
Parcelas      int64
dtype: object

In [4]:
df['Data'] = pd.to_datetime(df['Data'], format="%d/%m/%Y")
df.dtypes
df['Mes']=df['Data'].dt.month
df["Valor_mes"] = df["Valor"] / df["Parcelas"]
df
def Explode_mes(row):
    return [ int(row["Mes"]) + i for i in range(int(row["Parcelas"]) ) ]
df["Mes_explode"] = df.apply(Explode_mes, axis=1)
df["Mes_explode"]
df2 = df.explode("Mes_explode")
df2
df3 = df2.groupby( ["Cliente", "Mes_explode"] )["Valor_mes"].sum()
df3
df4 = df3.unstack().fillna(0)

In [5]:
df4

Mes_explode             1       2           3           4           5
Cliente
Casimiro de Abreu   125.0  149.56    0.000000    0.000000    0.000000
Eça de Queiroz        0.0    0.00  256.296667  256.296667  256.296667
José Alencar        100.0  100.00  100.000000    0.000000    0.000000
Machado de Assis   2500.0  188.45  188.450000    0.000000    0.000000
Mario de Andrade    500.0  620.25    0.000000    0.000000    0.000000
Érico Veríssimo       0.0  180.00  180.000000    0.000000    0.000000